In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
df=pd.read_csv("Diabetes_Misisng_Values.csv")
df

,pregnant,glucose,pressure,triceps,insulin,mass,pedigree,age,diabetes
0,6,148.0,72.0,35.0,NaN,33.6,0.627,50,pos
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,neg
2,8,183.0,64.0,NaN,NaN,23.3,0.672,32,pos
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,neg
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33,pos
...,...,...,...,...,...,...,...,...,...
763,10,101.0,76.0,48.0,180.0,32.9,0.171,63,neg
764,2,122.0,70.0,27.0,NaN,36.8,0.340,27,neg
765,5,121.0,72.0,23.0,112.0,26.2,0.245,30,neg
766,1,126.0,60.0,NaN,NaN,30.1,0.349,47,pos
767,1,93.0,70.0,31.0,NaN,30.4,0.315,23,neg

In [8]:
df.isnull().sum()

pregnant      0
glucose       5
pressure     35
triceps     227
insulin     374
mass         11
pedigree      0
age           0
diabetes      0
dtype: int64

In [9]:
df["glucose"]=df["glucose"].fillna(df["glucose"]).mean()

In [10]:
df["pressure"]=df["pressure"].fillna(df["pressure"]).mean()

In [11]:
df["triceps"]=df["triceps"].fillna(df["triceps"]).mean()

In [12]:
df["insulin"]=df["insulin"].fillna(df["insulin"]).mean()

In [13]:
df["mass"]=df["mass"].fillna(df["mass"]).mean()

In [15]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [16]:
df["diabetes"]=le.fit_transform(df["diabetes"])

In [17]:
df

,pregnant,glucose,pressure,triceps,insulin,mass,pedigree,age,diabetes
0,6,121.686763,72.405184,29.15342,155.548223,32.457464,0.627,50,1
1,1,121.686763,72.405184,29.15342,155.548223,32.457464,0.351,31,0
2,8,121.686763,72.405184,29.15342,155.548223,32.457464,0.672,32,1
3,1,121.686763,72.405184,29.15342,155.548223,32.457464,0.167,21,0
4,0,121.686763,72.405184,29.15342,155.548223,32.457464,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,121.686763,72.405184,29.15342,155.548223,32.457464,0.171,63,0
764,2,121.686763,72.405184,29.15342,155.548223,32.457464,0.340,27,0
765,5,121.686763,72.405184,29.15342,155.548223,32.457464,0.245,30,0
766,1,121.686763,72.405184,29.15342,155.548223,32.457464,0.349,47,1
767,1,121.686763,72.405184,29.15342,155.548223,32.457464,0.315,23,0

In [18]:
x=df.drop("diabetes",axis=1)
x

,pregnant,glucose,pressure,triceps,insulin,mass,pedigree,age
0,6,121.686763,72.405184,29.15342,155.548223,32.457464,0.627,50
1,1,121.686763,72.405184,29.15342,155.548223,32.457464,0.351,31
2,8,121.686763,72.405184,29.15342,155.548223,32.457464,0.672,32
3,1,121.686763,72.405184,29.15342,155.548223,32.457464,0.167,21
4,0,121.686763,72.405184,29.15342,155.548223,32.457464,2.288,33
...,...,...,...,...,...,...,...,...
763,10,121.686763,72.405184,29.15342,155.548223,32.457464,0.171,63
764,2,121.686763,72.405184,29.15342,155.548223,32.457464,0.340,27
765,5,121.686763,72.405184,29.15342,155.548223,32.457464,0.245,30
766,1,121.686763,72.405184,29.15342,155.548223,32.457464,0.349,47
767,1,121.686763,72.405184,29.15342,155.548223,32.457464,0.315,23

In [19]:
y=df["diabetes"]
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: diabetes, Length: 768, dtype: int32

In [28]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=0)
x_train.shape

(576, 8)

In [29]:
from sklearn.preprocessing import StandardScaler
std=StandardScaler()
x=std.fit_transform(x)
x[:5]

array([[ 0.63994726,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.46849198,  1.4259954 ],
       [-0.84488505,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        , -0.36506078, -0.19067191],
       [ 1.23388019,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.60439732, -0.10558415],
       [-0.84488505,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        , -0.92076261, -1.04154944],
       [-1.14185152,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  5.4849091 , -0.0204964 ]])

In [50]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()
lr.fit(x_train,y_train)

LogisticRegression()

In [51]:
y_pred=lr.predict(x_test)
y_pred

array([0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0])

In [52]:
np.round(lr.score(x_test,y_test)*100,2)

68.75